# See http://help.github.com/ignore-files/ for more about ignoring files.

### Global

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

#Sonar
.scannerwork

### Backends

# Divers
/target/**
/testResults/**
/bin/**
/build/**
/out/**
.factorypath
.gradle/
src/generated/**
