<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="spring.log"/>
    <property name="LOG_FILE_MAX_SIZE" value="10MB"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.apache" level="DEBUG"/>
    <logger name="reactor" level="DEBUG"/>
</configuration>
